@media screen and (min-width:576.1px) and (max-width:992px) {
    .navbar {
        padding: 40px 20px 10px 20px;
    }

    .hamburgar {
        display: block;
        color: white;
    }

    .left-items {
        display: none;
    }

    .banner-title {
        font-size: 3rem;
        line-height: 70px;
    }
    .player-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
    }

    .player-card {
        width: 100%;
    }

}